
    <div class="row">
        <div class="tm-intro">
            <section>                        
                <div class="tm-container text-xs-center tm-section-1-inner">
                    <button data-toggle="modal" data-backdrop="false" href="#imgup"  class="btn btn-primary">
                        Uploader une image
                    </button>
                    <div class="modal" id="imgup">
                        <div class="modal-dialog">  
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                    <h4 class="modal-title">Choisissez une image depuis votre pc :</h4>
                                </div>
                                <div class="modal-body">
                                    {% include('imgbrowser/form.html.twig') %}
                                </div>
                            </div>  
                        </div> 
                    </div>
                </div>                                               
            </section>
        </div>  
    </div> 
